%margin-bars{
  margin-top: 25px;
  margin-bottom: 25px;
}

%padding-social{
  padding-left:100px;
  padding-right: 100px;
  padding-bottom: 40px;
}


%padding-follow{
  padding-top: 30px;
  padding-bottom: 30px;
}
